<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <section id="partial-footer">
    <p> ©2025 </p>
    <p> ChatGPT helped make this website. </p>
  </section>