<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <section id="partial-header">
    <p>John's Professional Cooking Site</p>
    <div id="partial-header-nav">
        <a href="/">
            Home
        </a>
        <a href="/all_recipes">
            <p> All Recipes </p>
        </a>
        <a href="/add_recipe">
            <p> Add Recipe </p>
        </a>
    </div>
  </section>