<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
    <%- include('./partials/header') %>
    <section id="header">
      <h1> John's Professional Cooking Site </h1>
      <h5> I rarely cook and am in fact, one of the pickiest people on the planet. </h5>
      <hr style="border: 0; border-top: 2px solid black;">
      <a href="/all_recipes">
        <button id="view-recipes-button"> View Recipes </button>
      </a>
      <div id="about-me-container"> 
        <h4> About Me </h4>
        <hr>
        <p> Regardless of my strange eating habits, I will do my best to list foods and recipes that I eat. 
          My favorite food is probably chicken and rice because it’s simple to make and healthy. 
          For the last two years I have been trying to strictly eat on campus, specifically Mabee Dining Hall, so I have been eating lots of chicken and rice recently. </p>  
      </div>
      </section>
  </body>
</html>
